@model DecoreSysAdminFront.UserServiceRef.UserInfo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
<br /><br />
<h3 style="text-align: center">Radera användare</h3>

<h4 style="text-align: center;">Vill du verkligen ta bort användarkontot @Model.Email?</h4>
<div>
    <br />
    <br />
    <hr />
    
    <!--<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailVerified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailVerified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SocSecNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SocSecNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuccessfulOperation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuccessfulOperation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelNum)
        </dd>

    </dl> -->

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions ">
            <div class="form-actions no-color" style="text-align: center;">
                <input type="submit" value="Ta bort" class="btn btn-danger" />  @Html.ActionLink("Tillbaka", "Dashboard", null, new { @class = "btn btn-default" })

            </div>
        </div>
    }
</div>
