@model DecoreSysAdminFront.UserServiceRef.UserInfo

@{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div style="text-align: center;">
    <hr />
    <h1>Redigera student</h1>
            <h3>Epostadress: @Html.DisplayFor(model => model.Email)</h3> 

            <h3>Verifierat konto: @Html.DisplayFor(model => model.EmailVerified)</h3>

            <h3>Anställnings ID: @Html.DisplayFor(model => model.EmployeeId)</h3>

            <h3>Förnamn: @Html.DisplayFor(model => model.FirstName)</h3>

            <h3>Efternamn: @Html.DisplayFor(model => model.LastName)</h3>

            <h3>Personnummer: @Html.DisplayFor(model => model.SocSecNum)</h3>

            <h3>Telefonnummer: @Html.DisplayFor(model => model.TelNum)</h3>
   
    <a href='@Url.Action("Edit", "SysAdmin", new { id = Model.Id })' class="btn btn-success" style="margin-left: 5px;">Redigera</a>
    <a href="../Dashboard" class="btn btn-info" style="margin-left: 5px;">Tillbaka</a>
    <br /><br />
   
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4" style="text-align:center; background-color: white; color: black; font-size: 20px;">
            @if (Model.StudentId == null && Model.EmployeeId == null)
            {
                @Html.ActionLink("Gör till student", "AttatchStudent", new { id = Model.Id })
                <br />
                @Html.ActionLink("Gör till personal", "AttatchEmployee", new { id = Model.Id })
            }
            else if (Model.StudentId != null && Model.EmployeeId != null)
            {
                @Html.ActionLink("Frånkoppla student", "DetatchStudent", new { id = Model.Id })
                <br />
                @Html.ActionLink("Frånkoppla personal", "DetatchEmployee", new { id = Model.Id })
            }
            else if (Model.StudentId == null && Model.EmployeeId != null)
            {
                @Html.ActionLink("Gör till student", "DetatchStudent", new { id = Model.Id })
                <br />
                @Html.ActionLink("Frånkoppla personal", "DetatchEmployee", new { id = Model.Id })
            }
            else if (Model.StudentId != null && Model.EmployeeId == null)
            {
                @Html.ActionLink("Frånkoppla student", "DetatchEmployee", new { id = Model.Id })
                <br />
                @Html.ActionLink("Gör till personal", "DetatchEmployee", new { id = Model.Id })
            }
        </div>
    </div>
</div>



